Repository jamesblackjr/programmer-dot-sh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tslint --fix, stylelint --fix, htmllint, gqlint, markdownlint

Update CircleCI configuration with Docker Hub authentication.
  .circleci/config.yml
Due: prettier --write

Update CircleCI configuration to build and cache the Docker image.
  .circleci/config.yml
Due: prettier --write

Updated CircleCI configuration Build & Deploy workflow.
  .circleci/config.yml
Due: prettier --write

Update CircleCI configuration to use latest dependencies.
  .circleci/config.yml
Due: prettier --write

Updating Stylelint configuration to support SASS/SCSS files.
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Migrate from NPM to Yarn package manager.
  package-lock.json
  yarn.lock
Due: prettier --write, eslint --fix

Disable --fix flags on the linters, temporarily.
  .lintstagedrc.json
Due: prettier --write, eslint --fix

Disable --write flag on Prettier, temporarily.
  .lintstagedrc.json
Due: prettier --write, eslint --fix

Migrate from NPM to Yarn package manager.
  Dockerfile
  Procfile
  netlify.toml
  package.json
  src/components/helpers/scrollTop.tsx
  src/components/root.tsx
  src/components/shell/form.tsx
  src/components/shell/index.tsx
  src/components/shell/input.tsx
  src/components/shell/label.tsx
  src/components/shell/output.tsx
  src/data/routes.ts
  src/entry/client.tsx
  src/entry/server.tsx
  src/global/styles.ts
  src/lib/apollo.ts
  src/lib/hotServerMiddleware.ts
  src/lib/stats.ts
  src/runner/app.ts
  src/runner/build.ts
  src/runner/development.ts
  src/runner/production.ts
  src/runner/static.ts
  src/views/ssr.tsx
  src/webpack/client.ts
  src/webpack/common.ts
  src/webpack/css.ts
  src/webpack/server.ts
  src/webpack/static.ts
Due: prettier --write, eslint --fix, tslint --fix

Cleanup code with TSLint and Prettier.
  .vscode/settings.json
  package.json
  src/components/helpers/scrollTop.tsx
  src/components/root.tsx
  src/components/shell/form.tsx
  src/components/shell/index.tsx
  src/components/shell/input.tsx
  src/components/shell/label.tsx
  src/components/shell/output.tsx
  src/data/routes.ts
  src/data/state.ts
  src/entry/client.tsx
  src/entry/server.tsx
  src/global/styles.ts
  src/lib/apollo.ts
  src/lib/hotServerMiddleware.ts
  src/lib/mobx.tsx
  src/lib/output.ts
  src/lib/stats.ts
  src/runner/app.ts
  src/runner/build.ts
  src/runner/development.ts
  src/runner/production.ts
  src/runner/static.ts
  src/views/ssr.tsx
  src/webpack/client.ts
  src/webpack/common.ts
  src/webpack/css.ts
  src/webpack/server.ts
  src/webpack/static.ts
  tslint.json
  yarn.lock
Due: prettier --write, eslint --fix, tslint --fix

Add Stylelint NPM/Yarn Script.
  package.json
  src/global/mixins.global.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add Beautify Configuration file.
  .jsbeautifyrc
Due: none

Update Beautify config file.
  .jsbeautifyrc
Due: none

Add Jest Testing Framework to Project.
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Remove invalid resolutions from package.json file.
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Add renovate.json
  renovate.json
Due: prettier --write, eslint --fix

Pin dependencies
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update Node.js to v10.15.1
  .nvmrc
Due: none

Pin React Hot Loader to v4.6.5 due to issue with latest version.
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update Node.js to v11.9.0
  Dockerfile
Due: none

Update dependency react-hot-loader to v4.7.0
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update Renovate Configuration.
  renovate.json
Due: prettier --write, eslint --fix

Update docker Docker tag to v17.12.1
  .circleci/config.yml
Due: prettier --write

Update dependency ts-node to v8
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update Node.js to v11.10.0
  Dockerfile
Due: none

Update dependency @types/react to v16.8.4
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update react monorepo to v16.8.3
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency typescript to v3.3.3333
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency stylelint-scss to v3.5.4
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency @types/node to v10.12.27
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Add --list-different to Prettier in Lint-Staged configuration.
  .lintstagedrc.json
Due: prettier --write, eslint --fix

Update dependency tslint to v5.13.0
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency markdownlint-cli to v0.14.0
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency @babel/core to v7.3.4
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency @types/react to v16.8.5
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency @types/koa-router to v7.0.40
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency @types/jest to v24.0.9
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency eslint-config-prettier to v4.1.0
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update Apollo GraphQL packages
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((((any of: *.{js,jsx,json}) or (any of: *.{ts,tsx})) or (any of: *.{css,less,scss})) or (any of: *.{html})) or (any of: *.{graphql})) or (any of: *.{md})) or (any of: *.{hbs,toml,xml,yml,yaml})
  eslint --fix: any of: *.{js,jsx,json}
  tslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,less,scss}
  htmllint: any of: *.{html}
  gqlint: any of: *.{graphql}
  markdownlint: any of: *.{md}
