Repository jamesblackjr/programmer-dot-sh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, tslint, stylelint, htmllint, gqlint, markdownlint

.lintstagedrc.json:

{
  "*.{js,jsx,json}": ["prettier --list-different", "eslint", "git add"],
  "*.{ts,tsx}": ["prettier --list-different", "tslint", "git add"],
  "*.{css,less,scss}": ["prettier --list-different", "stylelint", "git add"],
  "*.{html}": ["prettier --list-different", "htmllint", "git add"],
  "*.{graphql}": ["prettier --list-different", "gqlint", "git add"],
  "*.{md}": ["prettier --list-different", "markdownlint", "git add"],
  "*.{hbs,toml,xml,yml,yaml}": ["prettier --list-different", "git add"]
}

Update dependency typescript to v3.3.4000
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency dotenv to v7
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency eslint to v5.16.0
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Add GCC to see if it resolves CircleCI issue.
  Dockerfile
Due: none

Try updating APK before installing dependencies.
  Dockerfile
Due: none

Update CircleCI settings, revert Dockerfile changes.
  .circleci/config.yml
  Dockerfile
Due: prettier --list-different

Update CircleCI settings, revert Dockerfile changes.
  .circleci/config.yml
Due: prettier --list-different

Update CircleCI settings, trying different docker images.
  .circleci/config.yml
Due: prettier --list-different

Update CircleCI settings.
  .circleci/config.yml
Due: prettier --list-different

Revert CircleCI settings to old image.
  .circleci/config.yml
Due: prettier --list-different

Reverting to Previous Commit.
  .circleci/config.yml
Due: prettier --list-different

Update Node.js to v11.15.0
  Dockerfile
Due: none

Update dependency eslint-plugin-flowtype to v3.13.0
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency jest to v24.9.0
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency tslint to v5.20.1
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency ts-jest to v24.3.0
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency @types/jest to v24.9.1
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update reactrouter monorepo to v5
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency graphql to v14.7.0
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency mobx to v5.15.7
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency node-sass to v4.13.1 [SECURITY]
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update react monorepo to v16.14.0
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update emotion monorepo
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency typescript to v3.9.9
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency cross-fetch to v3.1.4
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency lodash to v4.17.21 [SECURITY]
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update Apollo GraphQL packages
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency resolve-url-loader to v3.1.3
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update Node.js to v10.24.1
  .nvmrc
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency @types/react-dom to v16.9.13
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency @types/react to v16.14.8
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency webpack to v4.46.0
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update babel monorepo
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency typescript to v3.9.10
  package.json
  yarn.lock
Due: prettier --list-different, eslint

Update dependency node-sass to v7 [SECURITY]
  package.json
  yarn.lock
Due: prettier --list-different, eslint
